<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Ventas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <ng-container *ngIf="theresSale">
        <ion-list>
            <ng-container *ngFor="let group of groupedContacts">
                <ion-item-divider color="light">{{group.letter}}</ion-item-divider>
                <ion-item-sliding *ngFor="let contact of group.contacts">
                    <ion-item (click)="openMovements(contact)">
                        <h2>{{contact.firstName +' '+ contact.lastName}}</h2>
                        <p item-end>${{contact.debt}}</p>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="secondary">
                            <ion-icon class="custom-icon" name="add"></ion-icon>
                        </button>
                        <button ion-button color="primary">
                            <ion-icon xlass="custom-icon" name="remove"></ion-icon>
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ng-container>
        </ion-list>
    </ng-container>

    <ion-card *ngIf="!theresSale">
        <ion-card-header>
            ¡Oh no! ¿Aún no tienes una venta?
        </ion-card-header>
        <ion-card-content text-center>
            <button ion-button clear (click)="openModal()">Agrega una venta</button>
        </ion-card-content>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="dark" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>