<ion-header>

    <ion-navbar>
        <ion-buttons>
            <button ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>Agregar venta</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <form novalidate (ngSubmit)="addClient()" [formGroup]="addSaleForm">
            <ion-item>
                <ion-input type="text" placeholder="Nombre" formControlName="firstName"></ion-input>
            </ion-item>

            <!-- Validation messages for firstName input -->
            <ng-container *ngFor="let validation of validationMessages.firstName">
                <ion-item no-lines *ngIf="firstName.hasError(validation.type) && firstName.touched">
                    <p class="error">{{validation.message}}</p>
                </ion-item>
            </ng-container>
            <!-- End -->

            <ion-item>
                <ion-input type="text" placeholder="Apellido" formControlName="lastName"></ion-input>
            </ion-item>

            <!-- Validation messages for lastName input -->
            <ng-container *ngFor="let validation of validationMessages.lastName">
                <ion-item no-lines *ngIf="lastName.hasError(validation.type) && lastName.touched">
                    <p class="error">{{validation.message}}</p>
                </ion-item>
            </ng-container>
            <!-- End -->

            <ion-item>
                <ion-label>$</ion-label>
                <ion-input type="text" placeholder="Total de la venta" formControlName="total"></ion-input>
            </ion-item>

            <!-- Validation messages for lastName input -->
            <ng-container *ngFor="let validation of validationMessages.total">
                <ion-item no-lines *ngIf="total.hasError(validation.type) && total.touched">
                    <p class="error">{{validation.message}}</p>
                </ion-item>
            </ng-container>
            <!-- End -->
            <br>
            <div padding-left padding-right>
                <button type="submit" (keyup.enter)="addClient()" ion-button block color="black" [disabled]="addSaleForm.invalid">Agregar venta</button>
            </div>
        </form>
    </ion-list>
</ion-content>